<launch>
  <arg name="bagfile" default="rtabmap_bagfile.bag"/>
  <node name="rosbag_record"
        pkg="rosbag" type="record"
        args="-O $(arg bagfile)
              -b 0
              /rosout
              /rosout_agg
              /rtabmap/global_path
              /rtabmap/grid_map
              /rtabmap/info
              /rtabmap/mapData
              /tf
              /tf_static
              /voxel_cloud
              "
        output="screen">
  </node>
</launch>

              <!-- /rtabmap/cloud_ground -->
              <!-- /rtabmap/cloud_map -->
              <!-- /rtabmap/cloud_obstacles -->
              <!-- /rtabmap/goal -->
              <!-- /rtabmap/goal_node -->
              <!-- /rtabmap/goal_out -->
              <!-- /rtabmap/goal_reached -->
              <!-- /rtabmap/labels -->
              <!-- /rtabmap/local_path -->
              <!-- /rtabmap/mapGraph -->
              <!-- /rtabmap/move_base/cancel -->
              <!-- /rtabmap/move_base/feedback -->
              <!-- /rtabmap/move_base/goal -->
              <!-- /rtabmap/move_base/result -->
              <!-- /rtabmap/move_base/status -->
              <!-- /rtabmap/octomap_binary -->
              <!-- /rtabmap/octomap_empty_space -->
              <!-- /rtabmap/octomap_full -->
              <!-- /rtabmap/octomap_grid -->
              <!-- /rtabmap/octomap_occupied_space -->
              <!-- /rtabmap/odom -->
              <!-- /rtabmap/odom_info -->
              <!-- /rtabmap/odom_last_frame -->
              <!-- /rtabmap/odom_local_map -->
              <!-- /rtabmap/odom_local_scan_map -->
              <!-- /rtabmap/proj_map -->
              <!-- /rtabmap/scan_map -->

              <!-- /camera1/depth/image -->
              <!-- /camera1/rgb/image_rect_color -->
              <!-- /camera2/depth/image -->
              <!-- /camera2/rgb/image_rect_color -->
